<template>
  <div>
    <div class="task-question">
      <h2>Реализация новой кнопки "Предыдущий"</h2>
      <p>Требуется добавить кнопку "Предыдущий". Которая повторит функционал кнопки "Следующий", но позволит запрашивать
        продукты в обратном направлении</p>
      <p>Вы можете дорабатывать код как пожелаете.</p>
    </div>
    <div v-if="product">
      Продукт №{{ product.id }}
      <button @click="fetchNextProduct()">Следующий</button>
      <ProductItem :product="product"/>
    </div>
  </div>
</template>

<script>

import {mapActions, mapGetters} from "vuex";
import ProductItem from "@/components/ProductItem";

export default {
  name: 'Task_1',
  components: {ProductItem},
  data: () => ({
    currentProductId: 1,
  }),
  watch: {
    product: {
      handler: function (product) {
        this.currentProductId = product.id;
      },
      deep: true
    }
  },
  mounted() {
    this.productRequest(this.currentProductId);
  },
  computed: {
    ...mapGetters({
      product: 'taskModule/product'
    })
  },
  methods: {
    ...mapActions({
      productRequest: 'taskModule/productRequest'
    }),
    fetchNextProduct() {
      this.productRequest(this.currentProductId + 1);
    }
  }
}
</script>