<template>
  <div>
    <div class="task-question">
      <h2>Новый запрос "Все продукты"</h2>
      <ul>
        <li>Реализовать новый запрос к fakeAPI GET <a href="https://fakestoreapi.com/products/">https://fakestoreapi.com/products/</a>
        </li>
        <li>Реализация должна быть с использованием vuex в модуле <b>taskModule</b></li>
        <li>Отобразить массив продуктов используя компонент <b>ProductItem</b></li>
      </ul>
      <p>Вы можете дорабатывать код как пожелаете.</p>
    </div>
    <!-- Отображать продукты можно здесь -->
  </div>
</template>

<script>

export default {
  name: 'Task_3'
}
</script>
<style scoped>
</style>