<template>
  <div>
    <div class="task-question">
      <h2>Оформление отображаемых данных. Работа с компонентом ProductItem</h2>
      <ul>
        <li>Требуется чтобы задний фон каждой нечётной строки таблицы был окрашен серым цветом</li>
        <li>В таблице на против свойства image отображается ссылка на картинку. Требуется отобразить данное значение не
          как текст, а как картинку
        </li>
      </ul>

      <p>Вы можете дорабатывать код как пожелаете.</p>
    </div>

    <div v-if="product">
      <ProductItem :product="product"/>
    </div>
  </div>
</template>

<script>

import {mapActions, mapGetters} from "vuex";
import ProductItem from "@/components/ProductItem";

export default {
  name: 'Task_2',
  components: {ProductItem},
  data: () => ({
    currentProductId: 1,
  }),
  watch: {
    product: {
      handler: function (product) {
        this.currentProductId = product.id;
      },
      deep: true
    }
  },
  mounted() {
    this.productRequest(this.currentProductId);
  },
  computed: {
    ...mapGetters({
      product: 'taskModule/product'
    })
  },
  methods: {
    ...mapActions({
      productRequest: 'taskModule/productRequest'
    }),
    fetchNextProduct() {
      this.productRequest(this.currentProductId + 1);
    }
  }
}
</script>