<template>
  <div class="flex-wrapper">
    <table>
      <tr>
        <th>Свойство</th>
        <th>Значение</th>
      </tr>
      <template v-for="property in Object.keys(product)">
        <tr :key="property">
          <td style="width: 150px">{{ property }}</td>
          <td>{{ product[property] }}</td>
        </tr>
      </template>

    </table>
  </div>
</template>

<script>
import Product from "@/model/Product";

export default {
  name: "ProductItem",
  props: {
    product: Product,
  },
}
</script>

<style scoped>
.flex-wrapper {
  display: flex;
  justify-content: center;
  margin-right: 10px;
  margin-left: 10px;
}

table {
  width: 100%;
}

tr {
  height: 50px;
}

table,
th,
table td {
  border: 1px #000 solid;
}

tr td:nth-child(1) {
  width: 150px
}
</style>