<template>
  <div id="app">
    <template v-for="route in routes">
      <router-link style="margin: 10px;" :key="route.name" :to="route.name">{{ route.meta.name }}</router-link>
    </template>
    <router-view></router-view>
  </div>
</template>

<script>
import router from "@/router";

export default {
  name: 'App',
  computed: {
    routes() {
      return router.getRoutes();
    }
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

.task-question {
  text-align: left;
  border: 1px #000 solid;
  padding: 10px;
  margin: 10px;
}
</style>
